.input-placeholder-label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.5rem;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
}

.input-placeholder:focus + .input-placeholder-label,
.input-placeholder:not(:placeholder-shown) + .input-placeholder-label {
	transform: scale(0.8);
	top: -1rem;
	left: 0.05rem;
}
