.input-form-control input:focus~fieldset legend,
.input-form-control input:not(:placeholder-shown)~fieldset legend {
  visibility: visible;
  max-width: 1000px;
}

.input-form-control input:focus+label,
.input-form-control input:not(:placeholder-shown)+label {
  top: 0;
  left: 0.5rem;
  font-size: 0.75rem;
}