@import "highlight.js/styles/atom-one-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: initial !important;
}

html,
body,
div#app {
  @apply w-full h-full scroll-smooth;
}

.prose {
  @apply max-w-none;
}

.prose :where(h2) {
  @apply scroll-mt-28;
}  

.prose code {
  @apply text-balance
}

.nav-active {
  @apply border-l-primary font-bold;
}

.reading-progress {
  @apply h-[2px] bg-primary/70 fixed top-20 left-0 w-full;
  transform-origin: 0 50%;
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.reading-progress-vertical{
  @apply w-[2px] bg-primary/70 fixed top-32 h-full mx-auto opacity-0;
  transform-origin: 50% 0;
  height: calc(100vh - 30rem);
  animation: scaleProgressVertical auto linear;
  animation-timeline: scroll(root);
}

@keyframes scaleProgressVertical {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleY(1);
  }
}


.docs-section-progress {
  @apply w-6 h-6 fixed top-32 bg-base-300/50 rounded-full animate-pulse opacity-0;
  animation: docsSection linear forwards;
  animation-timeline: scroll(root);
}

@keyframes docsSection {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(100vh - 30rem));
  }
}