.textarea-placeholder-label {
  position: absolute;
  top: calc(50% - 25%);
  left: 0.5rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.textarea-placeholder:focus + .textarea-placeholder-label,
.textarea-placeholder:not(:placeholder-shown) + .textarea-placeholder-label {
  transform: scale(0.8);
  top: -1rem;
  left: 0.05rem;
}
